* {
    font-family: 'Noto Sans KR', sans-serif !important;
    box-sizing: border-box;
    list-style: none;

    h4 {
        font-size: 14px !important;
    }
}


.w-0 {
    width: 0;
    white-space: nowrap;

    a {
        white-space: nowrap;
    }
}

.zup {
    z-index: 100000;
}

.beforemk:before {
    content: "";
}

.aftermk:after {
    content: "";
}

.noafter:after,
.nobefore:before {
    display: none;
}

// 상단navivar
.navivar {
    // width: 100vw;
    background-color: #d1edff;
    line-height: 2.5;
    display: flex;
    justify-content: end;
    font-size: 12px;
    margin: 0;
}

.mypage a {
    margin: 10px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.navivarimg {
    width: 340px;
    height: 340px;
}

#search {}

.fade_link {
    color: #9FA3AB;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

.logo {
    z-index: 100000;
    max-width: 300px;
    width: 6vw;
}

.mainitem {
    font-size: 13px;
}



.navi a {

    margin-left: 40px;
    text-decoration: none;
    color: black;
    padding: 30px;
    font-size: 1rem;
}

.btn_form {
    width: 8vw;
    line-height: 1.5;
    background-color: #d1edff;
    border-style: none;

}



// swiper slide
.Bestsw {
    border-top: 1px solid #d1edff;
}

.img_pc {
    max-width: 530px;
    background-color: white;

}

.img_pc img {
    background-color: white;

    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
}


.swiper-slide-active {
    z-index: 100;

    .sh {
        font-size: 20px;
        color: rgb(0 0 0 / 60%);
        transform: translateY(0);
        text-align: center;
        transition: 1s;
        opacity: 1;

    }
}

.sh {
    font-size: 20px;
    color: rgb(0 0 0 / 60%);
    text-align: center;
    transform: translateY(50%);

    opacity: 0;

}


.dp {
    background-color: white;
    font-size: 26px;
    color: black;
    text-align: center;
    margin-top: 30px;
    overflow: hidden;
    font-weight: 600;

}

// .swiper-slide-active .sh {
//     transform: translateY(0%);
//     opacity: 1;
// }



.swiper-button-next::after,
.swiper-button-prev::after {
    // position: absolute;
    color: rgb(0 0 0 / 20%);

}

.swiper-pagination-fraction {
    width: auto !important;
    min-width: 70px;
    font-size: 15px;
    background: #d1edff;
    border-radius: 30px;
    position: absolute;
    bottom: 20% !important;
    left: 50% !important;
    padding: 5px 0;
    color: #fff !important;
}







.swiper-pagination-current {
    color: #fff;
    font-weight: bold;
}

.swiper-pagination-total {
    color: #ffffff73;
}

.site a {
    text-decoration: none;
}

.site ul {
    display: flex;

}

.site span {
    text-align: center;
    display: block;
    color: rgb(0 0 0 / 60%);

}

.site img {
    max-width: 80px;
    border-radius: 50%;
    background-color: rgb(0 0 0 / 5%);
}

.newtitle {
    font-style: italic;
    margin: 10px;
    height: 100px;
    line-height: 5;
    text-align: center;
}

// newbooks
.as {

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.newbooks {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.navivartitle {
    border-top: 1px solid #d1edff;
    font-style: italic;
    font-weight: normal;
    font-size: 1.5rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.newbookstitle {
    width: auto;
    position: relative;
    right: 36%;
    top: 25%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: end;

}

.dle {
    justify-content: space-between;
}


.title {
    border-top: 1px solid black;
}


.detailnewbooks {
    position: relative;
    line-height: 2;
    margin: 25px 0;
    padding: 25px 0;
    white-space: pre-line;
    top: 50px;
}

#Dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 2;
    width: 100px;
    height: 30px;
    color: black;
    border: solid 1px #ddd;
    background-color: #fff;
}

.bookimg {
    position: relative;
    left: 20%;
}

//list box 
.Curation {
    width: 300px;
    height: 300px;
    margin: 50px;
}

.Program {
    width: 500px;
    height: 500px;
}

//datail 
.detaildata {
    border-top: 1px solid #ddd;
    position: relative;
    right: 60px
}

.datail_item {
    margin: 20px 0;
}

.detalip {

    color: #28292EB3
}

.detailh {
    font-weight: 600;
    font-size: 16px !important;
    margin-bottom: 16px;
    margin-right: 30px;
}

.detailh3 {
    position: relative;
    font-size: 20px;
    right: 43px;
}

.newbookstitle p {
    position: relative;
    right: 70px;
}


.opt_btn {

    background-color: rgba(40, 41, 46, 0.03);

}

.opt_span {
    margin: 10px;
    background-color: rgba(40, 41, 46, 0.03) // margin-left: 10px;
}


.formin {
    text-align: center;
    width: 60px;
    height: 32px;
}

.quantity-bt {
    background-color: #9FA3AB;
}

.prise {
    position: relative;
    line-height: 2;
    left: 70%;
}

.quantity-btn {
    // font-size: 20px;
    transform: translateY(2px);
    border-color: white;
    background-color: white;
    width: 26px;
    height: 32px;
}

// Main 
.ico {
    align-items: center;
    flex-direction: column;
    display: flex;
    position: absolute;
    z-index: 100000;
    position: absolute;
    bottom: 10px;
    left: 100px;
}

.ico1 {
    margin-bottom: 10px;
}



.maintitle {
    // margin-bottom: 20px;
    text-align: center;
    line-height: 2;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

.mainslide {
    display: flex;
    // justify-content: center;
}

.maintedulip {
    right: 89px;
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 280px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: -30px 0 0 40px !important;
}


.mainteduli {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mypg {
    margin: 10px;
    line-height: 2;
    justify-content: center;
    text-align: center;
}

.mp {
    color: #28292e !important;
}

.usertitle {
    height: 150px;
    text-align: center;
    color: white;
    line-height: 2;
    background-color: #f9f9f9;
}

.usertitle h3 {
    line-height: 5;
}

.userswiper {
    display: flex;
}

// .rest {
//     position: absolute;
//     left: 80px;
//     bottom: 16.5px;

// }

.star {
    text-align: center;
    margin-right: 10px;
}

.review {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 10px;

}

.rest::before {
    content: "";
    color: #f94830;
    background: url(https://indiepub.kr/board/review/img/icon-star-rating5.svg) no-repeat right 0 / 60px auto;
    height: 12px;
    display: inline-block;
    width: 12px;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -2px;
}


//form 
// .form {
//     background-size: auto;
//     background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(./components/img/form.jpg);
//     background-size: cover;
//     background-position: top;
//     object-fit: cover
// }
.sectionform {
    position: relative;
    width: auto;
    min-height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(./components/img/form.jpg) left bottom no-repeat;
    font-weight: 400;
}

.formh {
    position: relative;
    color: #ddd;
}

.user {}

// .text {
//     text-align: center;
//     position: relative;
//     left: 65%;
//     bottom: 150px;
// }

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dda {
    text-align: center;
    justify-content: center;
}

.btns button {
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    padding: 0 20px;
    // width: 30px;
    height: auto;
}


input {
    outline: none;
}

#name,
#address,
#email {
    border-bottom: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;

}

input::placeholder {
    color: white;
}

.valid {

    border: 2px solid green;
    background: url(./components/img/true.png) no-repeat right center;
    background-size: 15px;
    background-position-x: 180px;

}




.invalid {
    border: 2px solid #f44336;
    background: url(./components/img/false.png) no-repeat right center;
    background-size: 15px;
    background-position-x: 180px;

}

textarea::placeholder {
    color: #ddd;
}

textarea {
    border: 1px solid white;
    background-color: transparent;
}

.text {
    position: relative;
    min-width: 300px;
    height: 150px;
    max-height: 150px;
}

.btns {
    margin-right: 10px;
}

small {
    position: absolute;
}

//footer
.footer_section {
    overflow-x: hidden;
    height: 350px;
}

.footer-li,
.footer-p {

    flex-direction: column;
    justify-content: center;
}

.footer-p {
    margin-bottom: 51px;
}


.footer-li {
    margin-top: 95px;
    margin-left: 35px;
}


footer {

    color: #ddd;
    background-color: #02131D;
}

.userin {
    padding: 0 100px;
}

.face {
    font-size: 19px;
}

.btns {
    position: relative;
    top: 50px;
    left: 5px;
}

#footerwrap {
    overflow-x: hidden;
}

.footer_section {
    font-size: 13px;
}

.ffce {
    justify-content: center;
    margin: 20px;
}

.footer-p {
    margin-bottom: 70px;
}

.btni {
    button {
        font-size: 0;
        line-height: 0;

        &:before {
            font-size: 2rem;
            content: "\F479";
            font-family: "bootstrap-icons";
        }


    }

    //after 이용해서 햄버거출력
    &.toggle {
        button {
            &:before {
                // X로 출력
                content: "\F659";
            }
        }


    }

    &.toggle+.navi {
        display: block !important;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: white;
        ;
    }
}

// .over {
//     overflow-x: hidden;
//     margin: 0 0;
// }
/* Navi_var.css */

/* Define your styles for different screen sizes here */

.btni {
    /* Common styles for btni */
}

.btni.d-none {}

.btni.d-md-flex {
    display: flex;
}

.mainitem {
    /* Common styles for mainitem */
}

.mainitem.d-none {}

.mainitem.d-flex {
    display: flex;
}

//모바일 
@media screen and (max-width:760px) {
    .logo {
        width: 90px;
        height: 90px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
        display: none;
    }


    .swiper-pagination {
        position: absolute !important;
        bottom: 216px !important;
        left: 44% !important;
    }

    .mainitem {
        display: flex;
        right: 10px;
        align-items: center;
        flex-direction: column;
    }

    .btni {
        position: relative;
    }

    .btn_form {

        // font-size: 12px;
        // position: absolute;
        // // bottom: 170px;
        // left: 45px;
        justify-content: space-between;
    }



    .navi ul a {
        margin-left: 20px;
        font-size: 12px;

    }

    // .img_pc {
    //     position: relative;
    //     left: 300px;
    //     width: 300px;
    // }

    .dp {
        // background-color: black;
        // right: 200px;
        // top: 100px;
        // z-index: 100000;
        font-size: 20px !important;
    }

    .swiper-pagination {
        position: unset;
    }

    .text {
        display: block;
    }
}